@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

.memo-app-header {
  margin-left: 16px;
}

.memo-app-container {
  display: flex;
  justify-content: left;
}

.memo-app-sidebar {
  margin-left: 8px;
  margin-right: 8px;
}

.memo-app-list-item {
  margin-bottom: 4px;
}

.memo-app-add-button {
  margin-bottom: 8px;
}

.memo-app-form {
  display: flex;
  flex-direction: column;
}

.memo-app-form-text-area {
  height: 80px;
}

.memo-app-button-area {
  display: flex;
  margin-top: 8px;
}

.memo-app-save-button {
  width: 100%;
  margin-right: 8px;
}
